<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>

    <!-- start navbar -->
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #d9e2ef;">
            <div class="container-md bg-primary pe-2"> <!-- We can try container-md here maybe -->
                <div id="my-navbar-brand">
                    <a href="/" class="navbar-brand">
                        <img src="/img/pollcall-logo.png" class="d-inline-block align-middle"
                            style="position: relative; top: -0.25rem; left: 0.5rem" 
                            alt="PollCall Logo" width="75" height="63">
                        PollCall
                    
                    </a> <!-- end a.navbar-brand -->
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a href="/" class="nav-link" aria-current="page">Create Poll</a>
                        </li>
                        <li class="nav-item">
                            <a href="/about" class="nav-link">About</a>
                        </li>
                    </ul>
                </div> <!-- end div#navbarNav -->
            </div>
        </nav>
    <!-- </div> --><!-- end div.container-->

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>