.gray-300{
    background-color: #d9e2ef;
}
.navbrand-txt{
    position: relative;
    top:7px;
}
/*
.navbrand-logo{
    position: relative;
    bottom: 2px; 
}*/
#our-navbrand{
    position: relative;
    left: 16px;
}
#takePollDiv{
    background-color: #ebedf0;
    margin-bottom: 24px;
}
.takePollAnsDiv{
    background-color: hsl(172, 53%, 83%);
    margin-bottom: 15px;
}
.highlightAns{
    border: 2px solid #3459d4;
}
.hidden{
    display: none;
}
.voteBtn{
        background-color: #63bd7e;
        width: 10rem;
        height: 4rem;
}
.heading{
    margin-top: 40px;
}