<!DOCTYPE html>
<html 
    lang="en" 
    xmlns="https://www.w3.org/1999/xhtml" 
    xmlns:og="https://ogp.me/ns#" 
    xmlns:fb="http://ogp.me/ns/fb#"
>
<head>
    <%- include('../partials/head'); %>

</head>
<body class="container">

<header>
    <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>About PollCall</h1>
        <p>PollCall was created as part of <https://chingu.io>Chingu</https:> v30 by <a href="https://github.com/shepherdlewis000">shepherdlewis000</a>. 
            You can view PollCall's source code and submit issues or report any problems at <a href="https://github.com/chingu-voyages/v30-geckos-team-08">here.</a></p>
        <p>Special thanks for the "Refresh" icon by Saeful Muslim from the <a href="https://thenounproject.com/search/?q=refresh&i=1247719"> Noun Project</a> via <a href="https://creativecommons.org/licenses/by/3.0/legalcode">CC By 3.0</a>. Original may have been altered including changes to color, resolution, file size, file type, and/or image dimensions.</p>
    </div>
</main>

<footer>

    <%- include('../partials/footer'); %>
    <script>
        console.log("about accessed")
    </script>
</footer>

</body>
</html>