<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is the about page</h1>
        <p>Welcome to templating using EJS</p>
        <p>Here's a variable passed from res.render: <%= aVariable %></p>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
    <script>
        console.log("about accessed")
    </script>
</footer>

</body>
</html>