<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="jumbotron">
        <h1 class="text-center display-2">PollCall</h1>
        <p class="text-center display-6">Easily create and share polls!</p>
        <!-- <p class="text-center">Here's a variable passed from res.render: <%= aVariable %></p> -->
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
    <script>
        console.log("index.ejs accessed")
    </script>
</footer>

</body>
</html>